.container {
  max-width: 800px; /* optional, for better readability */
  margin: 0 auto;
}

.title {
  font-size: 2.5rem;
  margin-bottom: 0.5rem;
  font-family: "Barlow Condensed", sans-serif;
  font-weight: 600;
  color: rgb(18, 18, 18);
  text-transform: uppercase;
}

.subtitle {
  font-size: 1.2rem;
  font-family: "Barlow Condensed", sans-serif;
  font-weight: 600;
  letter-spacing: -0.4px;
  color: rgb(0, 173, 238);
  text-transform: uppercase;
  margin-bottom: 1.5rem;
}

.content {
  margin-bottom: 2rem;
  font-family: Figtree, sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  color: rgb(18, 18, 18);
}

.donateButton {
  display: inline-block;
  padding: 1rem 2rem;
  background: #00adef;
  color: white;
  border: none;
  border-radius: 4px;
  font-size: 1.1rem;
  cursor: pointer;
  margin-bottom: 2rem;
  transition: background-color 0.2s;
  font-family: Figtree, sans-serif;
  font-weight: 500;
}

.donateButton:hover {
  background: #5ecefa;
  color: white;
  transform: translateY(-2px);
}
